*, *::before, *::after {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  overflow-y:hidden;
}

nav {
  background-color:#202124;
  height:100px;
  color:white;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}
.scrollbar {
  height:10px;
  width:100vw;
  background-color:#3a4192;
  margin-bottom:100px;
}
a {
  text-decoration:none;
  color:inherit;
}

main {
  height:calc(100vh - 100px);
  align-items:center;
  justify-content:center;
  overflow-y:hidden;
  overflow-x:hidden;
  position:relative;
}

.carousel{
  display:flex;
  position:absolute;
  height:max-content;
  width:400vw;
  transition: .5s ease-in-out; 
}
.carousel div {
  width:100vw;
}
#slide-1 img {
  width:100%;
  height:auto;
}

.project__img{
  height:auto;
  width:300px;
  background-color:white;
}
.project__details {
  width:500px!important;
}

.project__languages {
  right:0;
  top:0;
  width:100%!important;
  height:inherit;
  display:flex;
  justify-content:end;
}
.project__languages img {
  height:auto;
  width:40px;
  margin:5px;
}

#jeopardy__languages {
  justify-content:end;
}
#bitter__languages {
  justify-content:start;
}

.project {
  display:flex;
  margin-bottom:100px;
  width:100vw;
  justify-content:center;
}

#jeopardy_logo {
  width:300px;
  height:auto;
  left:300px;
  grid-column:2;
  grid-row:1;
}

.project__details {
  font-size:30px;
}
h2 {
  margin-top:0;
}




